<!DOCTYPE html>
<html ng-app="angularApp">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="">
        <meta name="author" content="JAG">

        <title>TBD</title>
        <script type="text/javascript" src="app/libs/angular.min.js"></script>
        <script type="text/javascript" src="app/libs/angular-route.min.js"></script>
        <script type="text/javascript" src="app/app.js"></script>
    </head>

    <body>
        
        <!--  Placeholders for views -->
        <div ng-view=""></div>

        Name:
        <br/>
        <input type="text" ng-model= "nameIn"/>{{ nameIn }}
        
        <div class="container" ng-controller="newController"> 
            <h3>Lopping</h3>
            <ul>
                <li data-ng-repeat="cust in customers | filter:nameIn | orderBy: 'city'">{{cust.name | uppercase}} - {{cust.city}}</li>
            </ul>
        </div>

    </body>

</html>